.za-container{
        margin-top: 30px;
    display: flex;
    
    gap: 1em;
justify-content: safe center;
  flex-wrap: wrap;

}
.boxslider1{
    justify-self: center;
    width: 60px;
    height: 60px;
   
}
.boxslider2{
    width: 60px;
    height: 60px;
   
}



.swiper-custom {
    margin-top:5%;
    position: relative;
}

.swiper {
    width: 75%;
    height: 300px;
      font-size: 10px;
      gap: 2em;
     
}

.swiper-slide {
    text-align: center;
      font-size: 10px;
    background: #006AC4;
border-radius: 25px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.slider-container1{
       margin-top: 30px;
    display: flex;
    
    gap: 1em;
justify-content: safe center;
  flex-wrap: wrap;

}



















.ourworks1{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    
    font-family: poppins;
    text-align: center;
    background: #00063C 0% 0% no-repeat padding-box;
    background-color: #00063C;
opacity: 1;
color: #ffffff;

}
.btn-ourworks1{
    padding: 6px;
    width: 120px;
  height: 32px;
  
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: #03BDF133 0% 0% no-repeat padding-box;

  font-size: 14px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;

    justify-content: center;
}
.Accomplished1{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    
    font-family: poppins;
    text-align: center;
    background: #00063C 0% 0% no-repeat padding-box;
    background-color: #00063C;
opacity: 1;
color: #ffffff;
font: normal normal bold 65px/90px Poppins;

}
.xy{
    color: #00BDF1;
    font: normal normal bold 65px/90px Poppins;



}
